/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Header
:: Nav
:: Content
:: Top Content
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  font-family: "europa",serif;
  color: #727272;
}

p {
	font-size: 18px;
}

h1, h2, h3 {
	color: #727272;
}

h2, h3 {
  font-family: 'europa', sans-serif;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #3D4A15;
}

h2.section-title {
  font-weight: 500;
  margin-bottom: 1.5em;
}

h3 {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
}

a, a:visited, a:hover {
  color: #406701;
  text-decoration: underline;
}

a.get-bs {
  text-transform: uppercase;
  background-color: #E1721E;
  border-bottom: 2px solid #E7CDB4;
  padding: 18px 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-shadow: 0px 1px #333;
  text-align: center;
  width: 240px;
}

span.bs-name {
  text-transform: lowercase;
  font-family: 'europa', sans-serif;
  font-size: 34px;
}

code {
  margin: 15px 0;
  background-color: #F4F4E8;
  padding: 18px 12px;
  display: block;
  font-size: 15px;
  overflow-x: scroll;
  white-space: pre;
}

/* Medium screens */
@media only screen and (max-width: 940px) {
	p {
		font-size: 17px;
		line-height: 1.3em;
	}
}

/* -----------------------------------------
   Header
----------------------------------------- */

header {
  background: #67B200 url('/beanstalkd/img/header/header_bg.png');
  width: 100%;
  height: 310px;
}

#inner-header {
  background: url('/beanstalkd/img/header/header.png') no-repeat;
  background-size: 430px 310px;
  height: 100%;
  color: #fff;
}

#header-content {
  padding: 150px 0 0 440px;
}

.header-title {
  margin: 0;
  font-weight: normal;
}

h1.header-title {
	color: #fff;
  font-family: 'europa', sans-serif;
  font-size: 56px;
}

h2.header-title {
  color: #B8D872;
  font-size: 28px;
  text-align: left;
  border-bottom: none;
  text-transform: none;
  padding: 0;
  line-height: 1.8em;
  font-family: "museo-slab",serif;
}

/* Medium screens */
@media only screen and (max-width: 940px) {

	header {
		height: 9em;
	}

	#inner-header  {
		background: none;
	}

	#header-content {
  	padding: 1.5em;
	}

	h1.header-title {
  	font-size: 40px;
	}

	h2.header-title {
		font-size: 18px;
	}
}

/* -----------------------------------------
   Nav
----------------------------------------- */

#nav {
  border-top: 2px solid #345109;
  background-color: #3C6801;
}

nav.top-bar {
	background: none;
	margin: 0;
	padding: 10px 0 0;
}

ul.top-bar-title {
	display: none;
}

ul.top-bar-title h1 {
	color: #fff;
}

nav.top-bar > section li {
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
}

li.nav-item:last-child {
  margin-right: 0;
}

.top-bar ul > li a.nav-link {
  text-decoration: none;
  color: #B8D872;
  background-color: #2F5401;
  padding: 14px 13px 10px;
  font-size: 16px;
  line-height: 1em;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.top-bar ul > li.nav-item a.nav-link:hover {
  color: #fff;
  background-color: #67B200;
}

.top-bar ul > li a.nav-link.selected {
  background-color: #fff;
  color: #335200;
  border-bottom: 1px dotted #A4B278;
}

.top-bar ul > li a.nav-link.right-nav-link {
  background-color: #558018;
}

/* Medium screens */
@media only screen and (max-width: 940px) {
	#nav .twelve.columns {
		padding: 0;
	}

	nav.top-bar {
		padding: 0;
	}

	ul.top-bar-title {
		display: inline;
	}

	ul.top-bar-title li.name > a {
		text-decoration: none;
	}

	nav.top-bar > section li {
  	margin-right: 0;
	}

	nav.top-bar ul > li.name h1 {
		font-size: 20px;
		line-height: 42px;
	}

	.top-bar ul > li a.nav-link {
	  -webkit-transition: none;
	  -moz-transition: none;
	  -o-transition: none;
	  -ms-transition: none;
	  transition: none;
  }

	.top-bar ul > li a.nav-link.right-nav-link {
		background-color: #2F5401;
	}
}

/* -----------------------------------------
   Content
----------------------------------------- */

#content {
  padding-top: 40px;
}

/* Medium screens */
@media only screen and (max-width: 967px) {
	#content {
	  padding-top: 20px;
	}
}


/* -----------------------------------------
   Top Content
----------------------------------------- */

#top-content {
  color: #3F4B17;
}

#description {
  float:left;
}

#description p:first-child {
  font-size: 28px;
  line-height: 1.5em;
  margin-top: 0;
}

#description p:last-child {
  font-size: 20px;
  line-height: 1.5em;
}

/* Medium screens */
@media only screen and (max-width: 967px) {
	#description p:first-child {
	  font-size: 22px;
	  line-height: 1.3em;
  	margin-top: 0;
	}

	#description p:last-child {
		font-size: 17px;
		line-height: 1.3em;
	}
}

/* -----------------------------------------
   Top Content
----------------------------------------- */

#news {
	padding: 0 15px 0 58px;
}

#news a.get-bs {
	margin-bottom: 40px;
}

#news p {
  margin: 0 0 20px;
  line-height: 1.5em;
}

a.more-news{
  font-size: 13px;
}

/* Medium screens */
@media only screen and (max-width: 967px) {
	#news {
		padding: 0 15px;
	}

	#news a.get-bs {
		margin: 0 auto;
	}

	a.more-news{
  	font-size: 15px;
	}
}

/* -----------------------------------------
   Definition
----------------------------------------- */

#definition img {
	margin-bottom: 1.5em;
}
