/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "museo-slab",serif;
  color: #727272;
}

section p {
  line-height: 27px;
}

code {
  margin: 15px 0;
  background-color: #F4F4E8;
  padding: 18px 12px;
  display: block;
  font-size: 15px;
  overflow-x: scroll;
  white-space: pre;
}

a, a:visited, a:hover {
  color: #406701;
}

h2, h3 {
  font-family: 'europa', sans-serif;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #3D4A15;
}

h3 {
  font-weight: normal;
  font-size: 12px;
  margin-bottom: 0;
}

div.section-wrap {
  margin-bottom: 20px;
}

/* HEADER */

header {
  background: #67B200 url('/beanstalkd/img/header/header_bg.png');
  width: 100%;
  height: 310px;
}

header #inner-header {
  background: url('/beanstalkd/img/header/header.png') no-repeat;
  background-size: 430px 310px;
  height: 100%;
  color: #fff;
}

header #header-content {
  padding: 150px 0 0 440px;
}

.header-title {
  margin: 0;
  font-weight: normal;
}

h1.header-title {
  font-family: 'europa', sans-serif;
  font-size: 56px;
}

h2.header-title {
  color: #B8D872;
  font-size: 28px;
  text-align: left;
  border-bottom: none;
  text-transform: none;
  padding: 0;
  margin: 10px 0 0;
  font-family: "museo-slab",serif;
}

a.get-bs {
  text-transform: uppercase;
  background-color: #E1721E;
  border-bottom: 2px solid #E7CDB4;
  padding: 18px 16px;
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-shadow: 0px 1px #333;
}

span.bs-name {
  text-transform: lowercase;
  font-family: 'europa', sans-serif;
  font-size: 34px;
}

/* NAV MENU */

#nav {
  border-top: 2px solid #345109;
  background-color: #3C6801;
}

ul.nav-menu {
  float: left;
  margin: 8px 0 0 0;
  padding: 0;
  list-style-type: none;
}

li.nav-item {
  float: left;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
}

li.nav-item:last-child {
  margin-right: 0;
}

a.nav-link {
  text-decoration: none;
  color: #B8D872;
  background-color: #2F5401;
  padding: 12px 13px;
  display: inline-block;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

a.nav-link:hover {
  color: #fff;
  background-color: #67B200;
}

a.nav-link.selected {
  background-color: #fff;
  color: #335200;
  border-bottom: 1px dotted #A4B278;
}

ul#extra-nav {
  float: right;
}

a.extra-nav-link {
  background-color: #558018;
}

/* CONTENT */

#content {
  padding-top: 40px;
}

/* TOP CONTENT */

#top-content {
  color: #3F4B17;
}

#top-content .p-hack {
  margin: 0;
  display: inline;
}

#description {
  float:left;
  width: 600px;
}

#description p:first-child {
  font-size: 26px;
  line-height: 40px;
  margin-top: 0;
}

#description p:last-child {
  font-size: 16px;
  line-height: 28px;
}

#news {
  float: left;
  margin-left: 100px;
}

#news p {
  margin: 0 0 20px;
  line-height: 1.5em;
}

#news a.get-bs {
  margin-bottom: 40px;
}

a.more-news{
  font-size: 11px;
}

/* USAGE */

h2.grid-title {
  font-weight: 500;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

section.grid-2-section {
  float: left;
  margin-right: 60px;
  width: 440px;
}

section.grid-2-section:last-child {
  margin-right: 0;
}

/* DEFINITION */

section.grid-1-section {
  margin: 0 auto;
}

/* FEATURES */

ul#features-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

li.features-item {
  float: left;
  width: 440px;
  margin: 0 60px 25px 0;
}

li.features-item:nth-child(2n) {
  margin-right: 0;
}

div.features-icon {
  width: 160px;
  height: 160px;
  float: left;
  border-right: 2px solid #DFDFD1;
  margin-right: 55px;
  background: no-repeat 50% #F0F0E2;
  background-size: 160px 160px;
}

div.features-icon.features-parallelized {
  background-image: url('/beanstalkd/img/features/parallelized.png');
}

div.features-icon.features-fast-efficient {
  background-image: url('/beanstalkd/img/features/fast-efficient.png');
}

div.features-icon.features-safe-reliable {
  background-image: url('/beanstalkd/img/features/safe-reliable.png');
}

div.features-icon.features-persistence {
  background-image: url('/beanstalkd/img/features/persistence.png');
}

div.features-icon.features-priorities {
  background-image: url('/beanstalkd/img/features/priorities.png');
}

div.features-icon.features-federation {
  background-image: url('/beanstalkd/img/features/federation.png');
}

h3.features-title {
  color: #80B422;
  text-transform: uppercase;
  font-size: 20px;
  margin: 35px 0 8px 0;
  font-weight: 700;
}

p.features-tagline {
  margin: 0 0 8px;
  font-size: 14px;
  line-height: 1em;
}

a.features-example {
  display: block;
  color: #989889;
  font-size: 11px;
  text-transform: uppercase;
}

a.features-example:hover, a.features-example:visited {
  color: #406701;
}

/* FOOTER */
footer.container {
  padding-bottom: 30px;
  color: #989889;
  font-size: 12px;
  line-height: 1.5em;
}

footer a {
  color: #989889;
  font-weight: bold;
}