/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

header {
  background: #67B200 url('/img/header/header_bg.png');
  width: 100%;
  height: 310px;
}

/* HEADER */

header #inner-header {
  background: url('/img/header/header.png') no-repeat;
  background-size: 430px 310px;
  height: 100%;
  color: #fff;
}

header #header-content {
  padding: 150px 0 0 440px;
}

.header-title {
  margin: 0;
  font-weight: normal;
}

h1.header-title {
  font-family: 'europa', sans-serif;
  font-size: 56px;
}

h2.header-title {
  color: #B8D872;
  font-size: 32px;
}

/* NAV MENU */

#nav {
  border-top: 2px solid #345109;
  background-color: #3B650D;
}

ul.nav-menu {
  float: left;
  margin: 8px 0 0 0;
  padding: 0;
  list-style-type: none;
}

li.nav-item {
  float: left;
  margin-right: 10px;
  font-size: 15px;
  line-height: 18px;
}

a.nav-link {
  text-decoration: none;
  color: #B8D872;
  background-color: #2F5109;
  padding: 12px 13px;
  display: inline-block;
}

a.nav-link.selected {
  background-color: #fff;
  color: #335200;
  border-bottom: 1px dotted #A4B278;
}


a.nav-link:hover {
  color: #fff;
}

ul#extra-nav {
  float: right;
}

a.extra-nav-link {
  background-color: #547C21;
}

