<section class="grid-1-section grid-full">
  <h2 class="grid-title">They Use Beanstalkd</h2>
  <ul id="companies-using-list" class="cf">
    <li class="companies-using-item">
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/when-i-work.jpg" />
	    </a>
    </li>
    <li class="companies-using-item">
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/honeytracks.png"/>
	    </a>
   	</li>
    <li class="companies-using-item">
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/osinka.gif"/>
    </li>
    <li class="companies-using-item">
    	<a href="javascript:void(0)">
		  	<img class="companies-using-logo" src="/beanstalkd/img/logo/infinity.png"/>
		  </a>
    </li>
  </ul>
</section>