<section class="twelve columns">
  <h2 class="section-title">They Use Beanstalkd</h2>
  <ul class="block-grid two-up">
    <li>
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/when-i-work.jpg" />
	    </a>
    </li>
    <li>
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/honeytracks.png"/>
	    </a>
   	</li>
    <li>
    	<a href="javascript:void(0)">
	    	<img class="companies-using-logo" src="/beanstalkd/img/logo/osinka.gif"/>
      </a>
    </li>
    <li>
    	<a href="javascript:void(0)">
		  	<img class="companies-using-logo" src="/beanstalkd/img/logo/infinity.png"/>
		  </a>
    </li>
  </ul>
</section>