<section class="grid-2-section grid-full">
  <h2 class="grid-title">Contribute</h2>
  <p>
    Please report any bugs to
    <a href="javascript:void(0)"> the mailing list</a>
    .
  </p>

  <p>
    You can
    <a href="javascript:void(0)"> fork us on GitHub</a>
    and create a client library for you favorite language.
  </p>
</section>

<section class="grid-2-section grid-full">
  <h2 class="grid-title">Get Some Help</h2>
  <p>
    <a href="javascript:void(0)">Read the FAQ</a>
    or send a message to the mailing list by joining the
    <a href="javascript:void(0)"> beanstalkd Google Group</a>
    .
  </p>
</section>