<p>
  Its interface is generic, but was originally designed for reducing the latency
  of page views in high-volume web applications by running time-consuming tasks
  asynchronously.
</p>

<p>
  Philotic, Inc. developed beanstalkd to improve the response time for the
  <a href="http://apps.facebook.com/causes/">Causes on Facebook</a>
  application (with over 9.5 million users). beanstalkd
  decreased the average response time for the most common pages to a tiny
  fraction of the original, significantly improving the user experience.
</p>
