<div class="row">
  <div class="twelve columns">
    <h2 class="grid-title">Features</h2>
  </div>
</div>

<div class="row">
  <div class="six columns features-item">
    <div class="features-icon features-parallelized"></div>
    <h3 class="features-title">Parallelized</h3>

    <p class="features-tagline">
      Supports multiple work queues created on demand.
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- parallelized -->


  <div class="six columns features-item">
    <div class="features-icon features-fast-efficient"></div>
    <h3 class="features-title">Fast &amp; Efficient</h3>

    <p class="features-tagline">
      Processes thousands of job per second without breaking a sweat
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- fast-efficient -->
</div>

<div class="row">
  <div class="six columns features-item">
    <div class="features-icon features-safe-reliable"></div>
    <h3 class="features-title">Safe &amp; Reliable</h3>

    <p class="features-tagline">
      Beanstalkd's reserve, work, delete
      cycle ensures reliable processing,
      even if the workers crash or get stuck.
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- safe-reliable -->


  <div class="six columns features-item">
    <div class="features-icon features-persistence"></div>
    <h3 class="features-title">Persistence</h3>

    <p class="features-tagline">
      Processes thousands of job per second without breaking a sweat
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- persistence -->
</div>

<div class="row">
  <div class="six columns features-item">
    <div class="features-icon features-priorities"></div>
    <h3 class="features-title">Priorities</h3>

    <p class="features-tagline">
      Specify priority so important jobs can be processed quickly
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- priorities -->


  <div class="six columns features-item">
    <div class="features-icon features-federation"></div>
    <h3 class="features-title">Persistence</h3>

    <p class="features-tagline">
      Horizontal scalability provided through federation by the client
    </p>

    <a href="javascript:void(0);" class="features-example">see an example</a>
  </div> <!-- federation -->
</div>

