<section class="grid-1-section grid-full">
  <h2 class="grid-title">Features</h2>

  <ul id="features-list" class="cf">
    <li class="features-item cg">
      <div class="features-icon features-parallelized"></div>
      <h3 class="features-title">Parallelized</h3>

      <p class="features-tagline">
        Supports multiple work queues created on demand.
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- parallelized -->

    <li class="features-item cf">
      <div class="features-icon features-fast-efficient"></div>
      <h3 class="features-title">Fast &amp; Efficient</h3>

      <p class="features-tagline">
        Processes thousands of job per second without breaking a sweat
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- fast-efficient -->

    <li class="features-item cf">
      <div class="features-icon features-safe-reliable"></div>
      <h3 class="features-title">Safe &amp; Reliable</h3>

      <p class="features-tagline">
        Beanstalkd's reserve, work, delete
        cycle ensures reliable processing,
        even if the workers crash or get stuck.
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- safe-reliable -->

    <li class="features-item cf">
      <div class="features-icon features-persistence"></div>
      <h3 class="features-title">Persistence</h3>

      <p class="features-tagline">
        Process thousands of jobs per second without breaking a sweat
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- persistence -->

    <li class="features-item cf">
      <div class="features-icon features-priorities"></div>
      <h3 class="features-title">Priorities</h3>

      <p class="features-tagline">
        Specify priority so important jobs can be processed quickly
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- priorities -->

    <li class="features-item cf">
      <div class="features-icon features-federation"></div>
      <h3 class="features-title">Federation</h3>

      <p class="features-tagline">
        Horizontal scalability provided through federation by the client
      </p>

      <a href="javascript:void(0);" class="features-example">see an example</a>
    </li> <!-- federation -->
  </ul>
</section>