<div id="inner-nav" class="container cf">
  <ul id="main-nav" class="cf nav-menu">
    <li class="nav-item">
      <a class="nav-link color: selected" href="javascript:void(0);">Start with beanstalkd</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">What's a work queue?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);">Contribute &amp; Help</a>
    </li>
  </ul>

  <ul id="extra-nav" class="cf nav-menu">
    <li class="nav-item">
      <a class="extra-nav-link nav-link" href="javascript:void(0);">FAQ</a>
    </li>
    <li class="nav-item">
      <a class="extra-nav-link nav-link" href="javascript:void(0);">Mailing List</a>
    </li>
  </ul>
</div>