<section class="six columns">
  <h2 class="section-title">Run It</h2>
  <p>
    First, run beanstalkd on one or more machines.
    There is no configuration file and only a handful of command-line options.
  </p>

  <pre><code>$ ./beanstalkd -l 10.0.1.5 -p 11300</code></pre>

  <p>
    This starts up beanstalkd listhing on address
    10.0.1.5, port 11300. For more information on how to
    run beanstalkd as a background service in production,
    <a href="javascript:void(0);">see the adm directory</a>
  </p>
</section>

<section class="six columns">
  <h2 class="section-title">Use It</h2>
  <p>Firt have one process put a job into the queue:</p>

<pre><code># Connect to pool
@beanstalk = Beaneater::Pool.new(['localhost:11300'])

# Enqueue jobs to tube
@tube = @beanstalk.tubes["my-tube"]
@tube.put '{ "key" : "foo" }', :pri => 5</code></pre>

          <p>Then start another process to take jobs out of the queue and run them:</p>

<pre><code># Process jobs from tube
while @tube.peek(:ready)
  job = @tube.reserve
  puts "job value is #{job.body["key"]}!"
  job.delete
end</code></pre>

</section>