<!DOCTYPE html>

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>{{ page.title }} &ndash; beanstalkd</title>

    <link rel="stylesheet" href="/beanstalkd/css/foundation.min.css">
    <link rel="stylesheet" href="/beanstalkd/css/app.css">

    <link href="http://feeds.feedburner.com/beanstalkd" title="News for beanstalkd" rel="alternate" type="application/atom+xml">
    <script type="text/javascript" src="//use.typekit.net/cdk4dei.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script src="javascripts/modernizr.foundation.js"></script>
  </head>
  <body>

    <header>
      {% include header.html %}
    </header>

    <div id="nav">
      {% include nav.html %}
    </div>

    <div id="content">
      <div id="top-content" class="row">
        <div id="description" class="eight columns">
          {% include description.html %}
        </div>

        <div id="news" class="four columns cf">
          <a class="get-bs" href="javascript:void(0)"> get <span class="bs-name">beanstalkd</span> </a>
          <section>
            {{ content }}
          </section>
        </div> <!-- news -->

      </div> <!-- top-content -->

      <div id="usage" class="row">
        {% include usage.html %}
      </div>  <!-- usage -->

      <div id="definition" class="row">
        {% include definition.html %}
      </div> <!-- definition -->

      <div id="features">
        {% include features.html %}
      </div> <!-- features -->

      <div id="companies-using" class="row">
        {% include companies-using.html %}
      </div>

    </div> <!-- content -->

  <footer class="row">
    {% include footer.html %}
  </footer>

  {% include shared/js-footer.html %}

  </body>
</html>
