<!DOCTYPE html>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }} &ndash; beanstalkd</title>
    <link rel="stylesheet" href="/beanstalkd/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/beanstalkd/css/base.css" type="text/css">
    <link href="http://feeds.feedburner.com/beanstalkd" title="News for beanstalkd" rel="alternate" type="application/atom+xml">
    <script type="text/javascript" src="//use.typekit.net/cdk4dei.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header>
      {% include header.html %}
    </header>

    <div id="nav">
      {% include nav.html %}
    </div>

    <div id="content" class="container">
      <div id="top-content" class="cf section-wrap">
        <div id="description">
          {% include description.html %}
        </div>

        <div id="news">
          <a class="get-bs" href="javascript:void(0)"> get <span class="bs-name">beanstalkd</span> </a>
          <section>
            {{ content }}
          </section>
        </div> <!-- news -->
      </div> <!-- top-content -->

      <div id="usage" class="cf section-wrap">
        {% include usage.html %}
      </div>  <!-- usage -->

      <div id="definition" class="section-wrap">
        <section class="grid-1-section grid-full">
          <h2 class="grid-title">What's a work queue</h2>
        </section>
      </div> <!-- definition -->

      <div id="features" class="section-wrap">
        {% include features.html %}
      </div> <!-- features -->
    </div> <!-- content -->
  </body>

</html>