<!DOCTYPE html>
  <head>
    <meta charset=utf-8>
    <title>{{ page.title }} &ndash; beanstalkd</title>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <link href="http://feeds.feedburner.com/beanstalkd" title="News for beanstalkd" rel="alternate" type="application/atom+xml">
    <script type="text/javascript" src="//use.typekit.net/cdk4dei.js"></script>
     <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <header>
      <div id="inner-header" class="container">
        <div id="header-content">
          <h1 class="header-title">beanstalkd</h1>
          <h2 class="header-title">The simple, fast work queue</h2>
        </div>
      </div>
    </header>

    <div id="nav">
      <ul id="main-nav" class="cf">
        <li class="main-nav-item">
          <a class="main-nav-link" href="javascript:void(0);">Start with beanstalkd</a>
        </li>
        <li class="main-nav-item">
          <a class="main-nav-link" href="javascript:void(0);">What's a work queue?</a>
        </li>
        <li class="main-nav-item">
          <a class="main-nav-link" href="javascript:void(0);">Features</a>
        </li>
        <li class="main-nav-item">
          <a class="main-nav-link" href="javascript:void(0);">Contribute &amp; Help</a>
        </li>
      </ul>
    </div>
  </body>

</html>